* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}
 
nav {
	position: sticky;
/*	background-color: red;*/
	padding: 1.2rem;
	padding-left: 10rem;
	padding-right: 7rem;
}

nav ul li {
	display: inline;
}


nav ul .right-nav {
	display: inline;
	float: right;
	list-style-type: none;
}

nav .right-nav .nav {
	margin-right: 25px;
	font-weight: bolder;
}

.tuitt-button {
	font-size: 16px;
	background-color: #c2195b;
	color: white;
	padding: 10px 20px;
	border-radius: 175px 175px;
	font-weight: bold;
	border-style: none;
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	min-height: 45vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 75% 50%;;
	background-attachment: scroll;
	display: absolute;
	}

.front-bg {
    background: rgba(0, 0, 0, 0.5);
    min-height: 45vh;
}

.container {
    
    margin: 0 45rem;
    position: relative;
    width: 40%;
    border-radius: 15px;
}

.title {
    font-family: "Zilla Slab",serif;
    font-size: 2.66rem;
    font-weight: 600;
    text-align: right;
    display: inline-block;
    margin-left: auto;
    color: white;
}

.subtitle {
    font-size: 1.33rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: white;
    text-align: right;
    width: 75%;
    margin-left: auto;
    margin-top: 1em;
}


.apply-button {
    color: white;
    padding: 10px;
    width: 180px;
    text-align: center;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    background-color: #c2195b;
    border-color: transparent;
    border-radius: 25px;
    margin-left: 68%;
    margin-top: 1rem;
    box-shadow: 0 2px 3px rgb(0 0 0 / 10%);
}


.title, .title-2{
	font-family: 'Zilla Slab', serif;
}

.intro {
	text-align: center;
	margin-top: 20px;
}

.intro .intro-description {
	text-align: left;
	padding: 3% 20%;

}

.pre-footer {
	text-align: center;
	background-color: #f7fbfb;
	margin-top: 50px;
	padding-top: 25px;
}

.pre-footer .prefooter-description {
	text-align: center;
	padding: 40px 20%;

}

.book-button {
	background-color: #336589;
	color: white;
	padding: 10px 40px;
	border-radius: 175px 175px;
	margin-bottom: 20px;
}

footer {
	text-align: center;
	padding: 10px;
}